body{
    margin: 0;
    background-image: url(../assets/background.svg);
    border-top: 5px solid #FF530D;
}

a{
    text-decoration: none;
}

/* Header */
header{
    margin-top: 32px;
    padding: 0px 63.5px;
    display: flex;
    justify-content: space-between;
}
#logo{
    width: 208px;
    height: 127px;
}
nav{
    display: block;
    background-color: #FF530D;
    width: 82%;
    height: 127px;
}
nav div{
    width: 100%;
    height: 50%;
}
#nav-top{
    background-color: #fff;
    display: flex;
    align-items: center;
}
#nav-top div{
    margin-left: 24px;
    display: flex;
    width: 438px;
    border-bottom: 3px solid #FF530D;
}
#nav-top input{
    border: none;
    width: 100%;
}
#nav-bot{
    display: flex;
    justify-content: start;
    gap: 24px;
    font-size: 20px;
    padding-left: 24px;
    align-items: center;
}
#nav-bot a{
    color: #fff;
}
#nav-bot a:hover{
    color: #F3C40F;
}
/* Content */
#manga-content{
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin: 32px 63.5px;
    border-top: 3px solid #FF530D;
}
#legend p{
  margin: 0;
  padding: 5px 10px;
  background-color: #FF530D;
  width: fit-content;
}
.content{
    margin: 32px 0px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.manga{
    height: 140px;
    margin: 3px 0;
    gap: 10px;
    display: flex;
    padding: 5px;
    width: 680px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    overflow: hidden;
}
.poster{
    max-height: 141px;
}
#description{
    font-size: 15px;
}
.manga-description{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    align-items: start;
    overflow: hidden;
}
.cool-text{
    color: #000;
    margin: 0px;
}
#notFound{
    color: #000;
}
#show-btn{
    padding: 10px;
    width: 100%;
    background-color: #FF530D;
    text-decoration: none;
    border: none;
    color: #fff;
}
#show-btn:hover{
    cursor: pointer;
    padding: 10px;
    width: 100%;
    background-color: #ca5020;
    text-decoration: none;
    border: none;
    color: #fff;

}
/* Misc */
@keyframes fadeIn { 
    from { opacity: 0; } 
  }
.animate-flicker {
    animation: fadeIn 1s infinite alternate;
  }